body {
  background-color: #e9e9e9ff;
  color: #222;
}

/* Conteúdo principal */
main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;

  display: flex;
  flex-direction: column;
}

/* Footer */
footer {
  text-align: center;
  color: white;
  background-color: #444444;
  padding: 16px;
  font-size: 0.8rem;
}

/* Bloco salário */
.salario {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 0.75rem;
  padding: 5px;
}

.salario img {
  width: 22px;
  height: auto;
}

.salariominimo {
  border: 2px solid black;
  border-radius: 10px;
  padding: 5px;

  margin-top: auto; /* empurra para o fundo do main */
}

/* Botões */
button {
  margin: 10px 0;
  padding: 8px;
  width: 100%;
  background-color: #acacac;
  border-radius: 12px;
  font-size: 0.8rem;
}

input{
  width: 100%;
}

.input-group{
  margin: 10px 0;
}